@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

/* mobile styles*/
@media (max-width: 450px) {
  body {
    padding-top: 40px;
  }

  .post-list-item {
    font-size: 14px;
  }
}

/* web styles*/
@media (min-width: 450px) {
  body {
    padding-top: 120px;
  }
  .post-list-item {
    font-size: 18px;
  }

  .post-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: end;
  }
}

html {
  font-family: 'JetBrains Mono', serif;
}

body {
  margin: auto;
  max-width: 540px;
  padding-bottom: 120px;
  padding-left: 16px;
  padding-right: 16px;
  line-height: 1.2;
}

h1 {
  font-size: 36px;
  font-weight: 700;
  margin-top: 16px;
  margin-bottom: 16px;
}

h2 {
  font-size: 18px;
  margin-top: 48px;
  margin-bottom: 16px;
  font-weight: 800;
}

p {
  font-size: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
}

nav {
  display: flex;
  justify-content: end;
}

blockquote {
  padding: 4px;
  padding-left: 36px;
  font-weight: 200;
  border-left: 4px solid gray;
}

li {
  margin-top: 4px;
  margin-bottom: 4px;
}

.post-header {
  margin-top: 36px;
  margin-bottom: 36px;
}

.post-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 400;
}

.post-list {
  padding: 16px;
}

.post-date {
  font-size: 14px;
}
