@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@2/distr/fira_code.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@tailwind base;

body {
    font-family: 'Fira Code', monospace;
   ;
}

[v-cloak] {
    display: none;
}

@tailwind components;

.tab-content {
    @apply w-full px-4 py-8 border-white border-2 rounded-lg text-sm;
}

@tailwind utilities;

.project-font {
    font-family: 'Roboto', sans-serif;
}

.code {
    font-family: 'Fira Code', monospace;
}